* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-height: 100vh;
    background: url('assets/space.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

.container {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 2000px; /* Corrected perspective value */
}

.box {
    width: 350px;
    height: 350px;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.1s ease-out;
}

/* Faces of the cube */

.top {
    position: absolute;
    bottom: 175px;
    transform: rotateX(90deg);
    width: 350px;
    height: 350px;
    background-color: #98FF98; /* Mint Green */
}

.bottom {
    position: absolute;
    top: 175px;
    transform: rotateX(-90deg);
    width: 350px;
    height: 350px;
    background-color: #D8B6FF; /* Lilac */
}

.left {
    position: absolute;
    right: 175px;
    transform: rotateY(-90deg);
    width: 350px;
    height: 350px;
    background-color: #FFB6C1; /* Baby Pink */
}

.right {
    position: absolute;
    left: 175px;
    transform: rotateY(90deg);
    width: 350px;
    height: 350px;
    background-color: #FFCC99; /* Pastel Orange */
}

.front {
    position: absolute;
    transform: translateZ(175px);
    width: 350px;
    height: 350px;
    background-color: #ADD8E6; /* Light Blue */
}

.back {
    position: absolute;
    transform: translateZ(-175px);
    width: 350px;
    height: 350px;
    background-color: #FFFFE0; /* Light Yellow */
}

/* Styling for the span elements inside the div faces */
.box div span {
    height: calc(350px / 3 - 6px);
    background-color: transparent;
    border-radius: 10px;
    position: relative;
    z-index: -1;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    background-size: 100%;
}

.box div > span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    background: linear-gradient(to border-bottom-right, var(--clr) 60%, #bfbfbf);
    box-shadow: -10px -30px 30px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.box div > span::after {
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    top: 0;
    left: 0;
    background: linear-gradient(#ffffff44 50%, transparent 50%);
    z-index: -1;
    backdrop-filter: blur(5px);
    transform: rotate(-40deg);
}

.nameLetters {
    font-size: 3.5rem;
    font-weight: 700;
    z-index: 10000 !important;
    font-family: sans-serif;
    user-select: none;
    pointer-events: none;
}
